@media (prefers-color-scheme: dark) {
    ::selection {
        background: #3D6597;
    }

    :root {
        --text-field: #000000;
        --accent: #3D6597;
        --avoid-white-flash: #1D2021;

        /* main*/
        --main-bar-top: #2B2C30;
        --main-bar-bottom: #202426;
        --toolbar-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.53);

        /*tabs*/
        --active-tab: var(--main-bar-bottom);
        --inactive-tab: #18191B;


        --inactive-tab-fg: #938A82;
        --active-tab-fg: #EEEEEC;

        /*sidebar*/
        --sidebar-color: var(--active-tab);
        --sidebar-hover: #1C2025;

        /*borders*/
        --upper-border: #3A3B3E;
        --lower-border: #000000;
        --tab-border: var(--upper-border);

        /*buttons*/
        --button-top-hover: #555658;
        --button-top: #505154;
        --button-bottom: #404247;

        --button-upper-border: #58595c;
        --button-lower-border: #3A3B3E;

        --findbar-not-found: #7A2000;

        /* urlbar*/
        --selected-url: #1D2021;
        --urlbar-border: #000000;
    }
}

@media (prefers-color-scheme: light) {
    ::selection {
        background: #0366D625;
    }

    :root {
        --text-field: #ffffff;
        --accent: #327Cd1;
        --avoid-white-flash: #F8F8F8;

        /* main*/
        --main-bar-top: #f6f6f6;
        --main-bar-bottom: #dedede;
        --toolbar-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

        /*tabs*/
        --active-tab: var(--main-bar-bottom);
        --inactive-tab: #bababa;

        --inactive-tab-fg: #444648;
        --active-tab-fg: #2E3436;

        /*sidebar*/
        --sidebar-hover: #E8E9E9;
        --sidebar-color: var(--active-tab);

        /*borders*/
        --upper-border: #a5a5a5;
        --lower-border: #909090;
        --tab-border: #909090;

        /*buttons*/
        --button-top-hover: #fefefe;
        --button-top: #fdfdfd;
        --button-bottom: #ededed;

        --button-upper-border: #d4d4d4;
        --button-lower-border: #b8b8b8;

        --findbar-not-found: #FF8888;

        /* urlbar*/
        --selected-url: #DBDBDC;
        --urlbar-border: #a8a8a8;



    }
}
