/*tro to bring back the selected tab style*/
.UnderlineNav-item.selected, .UnderlineNav-item[role="tab"][aria-selected="true"], .UnderlineNav-item[aria-current]:not([aria-current="false"]) {
    background-color: white !important;
    border-radius: 3px 3px 0 0 !important;
    border-bottom-width: 0 !important;
    border-top: 3px solid #E47840 !important;
    padding: 1px 16px 4px 16px !important;
}
.UnderlineNav-item {
    padding: 4px 16px !important;
}
