@-moz-document regexp("^https://html.duckduckgo\\.com.*")
{

    body > div > div:not(:first-child) {
        border-top: 1px solid hsl(0, 0%, 81.6%) !important;
    }



    #header {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 590px !important;
        width: 100% !important;
        border: 0 !important;
    }
    .header__form {
        padding-left: 0 !important;
    }

    .header__logo-wrap {
        margin-left: -100px !important;
    }
    .serp__results {
        max-width: 590px;
        padding-left: 0 !important;
        margin: auto !important;
    }

    .zci-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: 0 !important;

    }

    .zci {
        margin: auto !important;
        max-width: 590px !important;
    }




    .frm__select::after {
         background-image: unset !important;
    margin-top: -6px !important;
    right: 50px !important;
        content: '▼' !important;
    }
}


