tab:only-of-type,
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"],
.tab-close-button,
#alltabs-button {
    display: none !important;
}
tab {
    margin-left: -1px !important;
}

:root {
    --tab-height: 27px;
}

.tabbrowser-tab[fadein] {
    max-width: 100vw !important
}

.tabbrowser-tab {
    padding: 0 !important;
}

.tab-background:is([selected], [multiselected]) {
    background: var(--active-tab) !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}


.tab-background {
    box-sizing:border-box;
    background: var(--inactive-tab) !important;
    border-radius: unset !important;
    border-bottom: 1px solid var(--lower-border) !important;
    margin-block: unset !important;
}

.tab-background[selected=""] {
    box-shadow: none !important;
}

.tab-content,
tab {
    max-height: var(--tab-height) !important;
    min-height: var(--tab-height) !important;
}


.tab-background::before {left: 0 !important; }
.tab-background::after {right: 0 !important; }
.tab-background::before,
.tab-background::after {
    content: '';
    position: absolute !important;
    height: calc(var(--tab-height) - 1px) !important;
    background-color: var(--tab-border) !important;
    width: 1px !important;
}

.tab-background:is([selected], [multiselected])::before,
.tab-background:is([selected], [multiselected])::after
{
    background-color: var(--upper-border) !important;
}


.tab-label {
    font-size: 13px;
    font-weight: 500 !important;
    color: var(--inactive-tab-fg);
}

.tabbrowser-tab[selected="true"] .tab-label {
    color: var(--active-tab-fg);
}

.tab-secondary-label {
    font-size: 9px !important;
    margin-top: -6px !important;
}
