#urlbar-go-button {
    display: none !important;
}

#urlbar {
    font-weight: 500 !important;
    margin: 0 auto !important;
    margin-inline: 0 !important;
    top: 0px !important;
}


#urlbar[textoverflow="right"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input {
    mask-image: linear-gradient(to left, transparent, black 3ch) !important;
}

#urlbar[textoverflow="left"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input  {
    mask-image: linear-gradient(to right, transparent, black 3ch)  !important;
}

#urlbar[textoverflow="both"] > #urlbar-input-container > .urlbar-input-box > #urlbar-input {
    mask-image: linear-gradient(to right, transparent, black 3ch, black calc(100% - 3ch), transparent);
}


#nav-bar-customization-target>#urlbar-container {
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 728px !important;
}




#urlbar[breakout-extend="true"] {
    padding-top: 5px !important;
    /*    margin: 0% 0% !important;*/
    /*    margin-inline: 0 !important;*/
    top: 0px !important;
    position: fixed !important;
}


#urlbar-input-container {
    min-height: var(--button-height) !important;
    max-height: var(--button-height) !important;
}


@media only screen and (max-width: 812px) {
    #nav-bar-customization-target>#urlbar-container {
        max-width: 90% !important;
    }

    #urlbar[breakout-extend="true"] {
        width: 90% !important;
        left: 5% !important;
        right: 5% !important;
    }
}

@media only screen and (min-width: 812px) {
    #urlbar[breakout-extend="true"] {
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto !important;
        width: 738px !important;
    }
}



#urlbar[breakout-extend="true"]>#urlbar-background {
    border-width: 0 !important;
    border-radius: 0 0 4px 4px !important;
    outline: 1px solid var(--urlbar-border);
    clip-path: inset(0px -30px -30px -30px);
}



@media (prefers-color-scheme: dark) {
    #urlbar[breakout-extend="true"]>#urlbar-background {
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.73) !important;
        background: #25292B !important;
    }
}

@media (prefers-color-scheme: light) {
    #urlbar[breakout-extend="true"]>#urlbar-background {
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.43) !important;
    }
}

/*needs to be aligned to navbar always, otherwise we can see the jump when we open it*/
#urlbar[breakout][breakout-extend]>#urlbar-background {
    animation-duration: 0s !important;
}


#urlbar>#urlbar-background {
    box-shadow: none !important;
}

.bookmark-item[dragover-into="true"] {
    background: var(--accent) !important;
    color: var(--accent) !important;
}

.urlbarView-row {
    &[selected] {
        background-color: var(--accent) !important;
        color: var(--autocomplete-popup-highlight-color);
    }
}
