/*@import url("dn-se.css");*/
/*@import url("transmission.css");*/
@import url("html.duckduckgo.css");
@import url("discord.css");
@import url("duckduckgo.css");
@import url("microsoft-dev-info.css");
@import url("read-the-docs.css");
@import url("stack.css");
@import url("weekendavisen.css");
@import url("dr.css");
@import url("wiki.css");
@import url("slack.css");
@import url("betterexplained.css");
@import url("archwiki.css");
@import url("nyt.css");
@import url("nyt_front_page.css");
@import url("tv2.css");
@import url("pol.css");
@import url("berlingske.css");
@import url("jp.css");
@import url("aws.css");
@import url("realpython.com.css");



@media (prefers-color-scheme: light) {

    stack h1,
    stack h2,
    stack h3,
    stack h4,
    stack h5,
    stack h6,
    stack span,
    stack code,
    stack p {
        color: rgb(0, 0, 0) !important;
    }

}

@media (prefers-color-scheme: dark) {}

/* add '[pdf]' next to links to PDF files */
a[href$=".pdf"]:after {
    font-size: smaller;
    content: " [pdf]";
}


@-moz-document url-prefix('about:preferences'),
url-prefix('about:addons') {
    * {
        user-select: none !important;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --in-content-page-background: #F8F8F8 !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --in-content-page-background: #1C1C1C !important;
        }
    }

}

@-moz-document url-prefix('about:newtab'),
url-prefix('about:home'),
url-prefix('about:blank'),
url-prefix('about:support'),
url-prefix('about:config') {

    * {
        user-select: none !important;
    }

    @media (prefers-color-scheme: light) {

        body,
        html {
            background-color: #F8F8F8 !important;
        }
    }

    @media (prefers-color-scheme: dark) {

        body,
        html {
            background-color: #1C1C1C !important;
        }
    }
}

@-moz-document url-prefix('about:addons') {

    #help-button,
    .sticky-container,
    recommended-extensions-section,
    .category[name="theme"] {
        display: none !important;
    }
}

@-moz-document url-prefix('about:preferences') {

    .sidebar-footer-list,
    #categories>.category {
        margin-inline: 0 !important;
        padding-inline-end: 10px !important;
    }

    #categories {
        width: unset !important;
    }

    #isDefaultPane {
        margin-inline-start: 0 !important;
    }

    .sticky-container {
        background-color: var();
        border-bottom: 1px solid var(--in-content-border-color) !important;
        margin-inline: -30px !important;
        width: calc(100% + 40px) !important;
    }

    .subcategory {
        margin-top: 26px !important;
    }

    #searchInput {
        margin: 10px 0 10px !important;
    }

    #breachAlertsBox {
        margin-inline-start: 0 !important;
    }

    #addonsButton {
        min-height: 48px !important;
        padding-inline: 10px !important;
    }

    .category-icon {
        width: 24px;
        height: 24px;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
    }

    .sidebar-footer-label {
        font-size: 1.07em !important;
        line-height: 1.4em !important;
        padding-inline-start: 9px !important;
        margin: 0 !important;
        user-select: none !important;
    }

    .sidebar-footer-icon {
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        width: 24px !important;
        height: 24px !important;
        margin: unset !important;
        margin-inline-start: unset !important;
    }

    #trackingProtectionShield,
    #trackingGroup hbox>vbox>description.description-with-side-element,
    #oneClickSearchProvidersGroup>description,
    #defaultEngineGroup>description,
    #searchSuggestionsGroup>description,
    #homepageGroup>description,
    #trackingGroup>hbox>vbox>description,
    #removeEngineButton,
    vbox.navigation>spacer,
    #passwordsGroup,
    #updatesCategory,
    #updateApp,
    #doNotTrackLearnMoreBox,
    #trackingProtectionExceptions,
    #browsingProtectionGroup .indent,
    #dataCollectionGroup .indent,
    #startupPageBox .indent,
    #homeContentsGroup .indent,
    #searchSuggestionsGroup .indent,
    #searchbarGroup,
    #searchBarVisibleGroup,
    #addEnginesBox,
    #restoreDefaultSearchEngines,
    #restoreDefaultHomePageBtn,
    #helpButton {
        display: none !important;
    }
}

@-moz-document url-prefix('about:httpsonlyerror') {

    .title {
        background-image: unset !important;
    }

    b,
    ul,
    h1,
    h2,
    #learn-more-container,
    #explanation-continue,
    #goBack {
        display: none;
    }

    body {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    @media (prefers-color-scheme: light) {

        body,
        html {
            color: #858587 !important;
            background-color: #F6F6F6 !important;
        }
    }

    @media (prefers-color-scheme: dark) {

        body,
        html {
            color: #a0a0a0 !important;
            background-color: #1b1b1b !important;
        }
    }


    #insecure-explanation-unavailable {
        text-align: center;
        font-size: 20px !important;
    }

    .button-container {
        justify-content: center !important;
    }




}

@-moz-document url-prefix('about:neterror') {

    #goBack {
        display: none;
    }

    body {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    @media (prefers-color-scheme: light) {

        body,
        html {
            color: #858587 !important;
            background-color: #F6F6F6 !important;
        }
    }

    @media (prefers-color-scheme: dark) {

        body,
        html {
            color: #a0a0a0 !important;
            background-color: #1b1b1b !important;
        }
    }

    .dnsNotFound #errorPageContainer,
    .connectionFailure #errorPageContainer,
    .netInterrupt #errorPageContainer,
    .netTimeout #errorPageContainer,
    .netReset #errorPageContainer,
    .netOffline #errorPageContainer {
        background-image: none !important;
    }

    .illustrated #text-container {
        padding-inline-start: unset !important;
    }

    #errorShortDescText {
        font-size: 20px !important;
    }

    .illustrated #errorPageContainer {
        min-height: unset !important;
        display: unset !important;
    }

    button {
        opacity: 0 !important;
    }

    #errorLongDesc,
    h1 {
        display: none !important;
    }


}







/* Reader mode */
@-moz-document url-prefix("about:reader") {


    body {
        padding: unset !important;
    }

    .header {
        text-align: center !important;
    }


    .header>h1 {
        font-size: 4.5em !important;
        /*line-height: 3.0em !important;*/
        font-weight: 400 !important;
        letter-spacing: -3px !important;
        margin-bottom: 30px !important;
        margin-top: 80px !important;
        text-align: center !important;
        width: 120% !important;
        margin-left: -10% !important;
    }


    blockquote {
        border-inline-start: none !important;
    }


    p:first-of-type::first-letter {
        font-family: serif !important;
        font-style: normal;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: -2px;
        float: left;
        padding-top: 5px !important;
        padding-right: 2px !important;
        margin-bottom: -10px !important;
        font-size: 86px !important;

    }


    blockquote p {
        font-size: 1.1em !important;
        padding: 15px 40px !important;
        line-height: 1.35em !important;
    }

    blockquote p::before {
        font-size: 1.4em !important;
        content: "» " !important;
    }

    blockquote p::after {
        font-size: 1.4em !important;
        content: " «" !important;
    }

    body.serif {
        font-family: serif !important;
    }

    body a {
        color: #3584E3 !important;
    }

    body {
        color: #000000 !important;
    }
    .container {
            padding: 80px;
            margin: 0;
        }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: #2A2A2A !important;
        }

        .container {
            background-color: #F4ECD9 !important;
        }

    }

    @media (prefers-color-scheme: light) {

        ::selection {
            /*color: white !important;*/
            background: #0366D625 !important;
        }


        .container {
            background-color: #FFFFFF !important;
        }


        body {
            background-color: #E8E8E8 !important;
        }
    }

    code {
        font-size: 0.7em;
    }

    hr,
    div>a>div>div,
    .domain,
    .close-button,
    .toolbar-container {
        display: none !important;
    }

    div.page>div>div>div>p {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-left: 3px !important;
        margin: 0 !important;
    }

    .moz-reader-content figure,
    .moz-reader-content figure>img {
        margin-left: auto !important;
        margin-right: auto !important;
        justify-content: center;
        align-items: center;
        display: grid;
    }


    div.page>div>div>div {
        /*margin-bottom: 35px !important;*/
        /*margin-left: 35px !important;*/
        /*margin-right: 35px !important;*/
        /*margin-top: 3px !important;*/
        /*line-height: 1.2em !important;*/
    }

}
