
/*@import url("content/dn-se.css");*/
/*@import url("content/transmission.css");*/
@import url("content/html.duckduckgo.css");
@import url("content/discord.css");
@import url("content/duckduckgo.css");

@import url("content/microsoft-dev-info.css");
@import url("content/read-the-docs.css");
@import url("content/stack.css");
@import url("content/philosophy-stack.css");
@import url("content/weekendavisen.css");
@import url("content/dr.css");
@import url("content/internal.css");
/*@import url("content/wiki.css");*/
@import url("content/slack.css");
@import url("content/betterexplained.css");
@import url("content/archwiki.css");
@import url("content/nyt.css");
@import url("content/nyt_front_page.css");
@import url("content/tv2.css");
@import url("content/pol.css");
@import url("content/berlingske.css");
@import url("content/jp.css");
@import url("content/aws.css");
@import url("content/realpython.com.css");
@import url("content/github.com.css");

@import url("content/about_preferences.css");
@import url("content/about_newtab.css");
@import url("content/reader.css");

@media (prefers-color-scheme: light) {

    stack h1,
    stack h2,
    stack h3,
    stack h4,
    stack h5,
    stack h6,
    stack span,
    stack code,
    stack p {
        color: rgb(0, 0, 0) !important;
    }

}


/* add '[pdf]' next to links to PDF files */
a[href$=".pdf"]:after {
    font-size: smaller;
    content: " [pdf]";
}

p[data-attrs] {
    display: none !important;
}

@media (prefers-color-scheme: light) {
    :root {
        --page-not-found-bg: #f8f8f8;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-not-found-bg: #1D2021;
    }
}


/*a[href$="share"] {*/
/*  display: none !important;*/
/*}*/


@-moz-document url("about:home"),
url("about:downloads"),
url-prefix("about:httpsonlyerror"),
url-prefix("about:neterror"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing"),
url('about:support'),
url('about:preferences'),
url('about:config'),
url('about:addons') {

    :root {
        --in-content-page-background: var(--page-not-found-bg) !important;
    }

    body,
    html {
        color: var(--page-not-found-fg) !important;
        background-color: var(--page-not-found-bg) !important;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --in-content-box-background: rgb(32, 36, 38) !important;
            --in-content-box-background-odd: rgb(37, 41, 43) !important;
            --in-content-primary-button-background: rgb(21, 83, 158) !important;

        }
    }
}

@-moz-document url-prefix('about:addons') {

    #help-button,
    .sticky-container,
    recommended-extensions-section,
    .category[name="theme"] {
        display: none !important;
    }
}

@-moz-document url-prefix('about:preferences') {

    .sidebar-footer-list,
    #categories>.category {
        margin-inline: 0 !important;
        padding-inline-end: 10px !important;
    }

    #categories {
        width: unset !important;
    }

    #isDefaultPane {
        margin-inline-start: 0 !important;
    }

    .sticky-container {
        background-color: var();
        border-bottom: 1px solid var(--in-content-border-color) !important;
        margin-inline: -30px !important;
        width: calc(100% + 40px) !important;
    }

    .subcategory {
        margin-top: 26px !important;
    }

    #searchInput {
        margin: 10px 0 10px !important;
    }

    #breachAlertsBox {
        margin-inline-start: 0 !important;
    }

    #addonsButton {
        min-height: 48px !important;
        padding-inline: 10px !important;
    }

    .category-icon {
        width: 24px;
        height: 24px;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
    }

    .sidebar-footer-label {
        font-size: 1.07em !important;
        line-height: 1.4em !important;
        padding-inline-start: 9px !important;
        margin: 0 !important;
        user-select: none !important;
    }

    .sidebar-footer-icon {
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        width: 24px !important;
        height: 24px !important;
        margin: unset !important;
        margin-inline-start: unset !important;
    }

    #trackingProtectionShield,
    #trackingGroup hbox>vbox>description.description-with-side-element,
    #oneClickSearchProvidersGroup>description,
    #defaultEngineGroup>description,
    #searchSuggestionsGroup>description,
    #homepageGroup>description,
    #trackingGroup>hbox>vbox>description,
    #removeEngineButton,
    vbox.navigation>spacer,
    #passwordsGroup,
    #updatesCategory,
    #updateApp,
    #doNotTrackLearnMoreBox,
    #trackingProtectionExceptions,
    #browsingProtectionGroup .indent,
    #dataCollectionGroup .indent,
    #startupPageBox .indent,
    #homeContentsGroup .indent,
    #searchSuggestionsGroup .indent,
    #searchbarGroup,
    #searchBarVisibleGroup,
    #addEnginesBox,
    #restoreDefaultSearchEngines,
    #restoreDefaultHomePageBtn,
    #helpButton {
        display: none !important;
    }
}




@-moz-document url-prefix('about:httpsonlyerror') {

    .title {
        background-image: unset !important;
    }

    b,
    ul,
    h1,
    h2,
    #learn-more-container,
    #explanation-continue,
    #goBack {
        display: none;
    }

    #insecure-explanation-unavailable {
        text-align: center;
        font-size: 20px !important;
    }

    .button-container {
        justify-content: center !important;
    }

}

@-moz-document url-prefix('about:neterror') {
    #goBack {
        display: none;
    }

    .dnsNotFound #errorPageContainer,
    .connectionFailure #errorPageContainer,
    .netInterrupt #errorPageContainer,
    .netTimeout #errorPageContainer,
    .netReset #errorPageContainer,
    .netOffline #errorPageContainer {
        background-image: none !important;
    }

    .illustrated #text-container {
        padding-inline-start: unset !important;
    }

    .illustrated #errorPageContainer {
        min-height: unset !important;
        display: unset !important;
    }

    #errorLongDesc,
    h1 {
        display: none !important;
    }

    #netErrorButtonContainer {
        opacity: 0 !important;
    }

    button {
        position: fixed !important;
        border-radius: 0 !important;
        top: 0 !important;
        left: 0 !important;
        margin-top: 0em !important;
        min-width: 100% !important;
        min-height: 100% !important;
    }

}
