:root {
    --tab-shadow-max-size: 0 !important;
    --tab-min-height: 0px !important;
    --inline-tab-padding: 5px;
    --tab-border-radius: 0px !important;
    --tab-block-margin: 0px;
    --tabpanel-background-color: #F9F9FB;
    --tab-attention-icon-color: var(--lwt-tab-attention-icon-color, rgb(42, 195, 162));
}

@media (prefers-color-scheme: dark) {
    ::selection {background: rgba(134,121,100,0.4) !important; }
    :root {
        --sidebar-color: #12161B;
        --sidebar-hover: #1C2025;
        --avoid-white-flash: #1D2021;
        --active-tab-color: #1D2021;
        --inactive-tab-color: #111314;
        --urlbar-bg: #242424;
        --selected-entry: #1D2021;
        --accent: #15539E !important;
        --box-shadow-color: #00000080 !important;
        --border-color: #000000 !important;
        --tab-separator-color: #58595A !important;
        --selected-bg-start: #202426 !important;
        --selected-bg-end: #202426 !important;
        --findbar-start: #282828 !important;
        --search-bar-input: #47494B;
        --selected-fg-inactive: #938A82 !important;
        --selected-fg-active: #fffbd8 !important;
        --toolbar-bg: #454545 !important;
    }


}

@media (prefers-color-scheme: light) {
    ::selection { background: #0366D625 !important; }
    :root {
        --sidebar-hover: #E8E9E9;
        --sidebar-color: #F3F3F3;
        --avoid-white-flash: #F8F8F8;
        --active-tab-color: #FFFFFF;
        --inactive-tab-color: #E6E6E6;
        --urlbar-bg: #FFFFFF;
        --selected-entry: #DBDBDC;
        --accent: #3584E4 !important;
        --box-shadow-color: #00000040 !important;
        --border-color: #D8D8D8;
        --tab-separator-color: #B1B1B1;
        --findbar-start: #EDEDED !important;
        --selected-bg-start: #FAFAFA !important;
        --selected-bg-end: #FFFFFF !important;
        --search-bar-input: #E8E8E8;
        --selected-fg-active: #323232;
        --selected-fg-inactive: #6C737E;
        --toolbar-bg: #d2d2d2;
    }
}

#toolbar-menubar,
#urlbar-go-button,
.urlbarView-row[label]::before,
.titlebar-buttonbox.titlebar-color,
.tab-close-button,
.findbar-closebutton,
.findbar-container > hbox >toolbarbutton,
tab:only-of-type,
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"],
.tab-close-button,
#PanelUI-button,
#PanelUI-menu-button,
#back-button,
#forward-button,
.titlebar-button.titlebar-close,
.titlebar-spacer,
box#sidebar-header,
#private-browsing-indicator-with-label,
#scrollbutton-up,
#scrollbutton-down,
#alltabs-button {
    display: none !important;
}

/* Remove icons from the main context menu
i.e. hides ublock origin
*/
#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
    visibility: hidden;
}

#contentAreaContextMenu menugroup menuitem image,
#contentAreaContextMenu .menu-right image {
    visibility: visible;
}

/*must have positive height to allow downloads panel to be shown*/
#nav-bar {
    min-height: 1px !important;
    max-height: 1px !important;
    margin-bottom: -1px !important;
    box-shadow: none !important;
}

#TabsToolbar {
    margin-right: 47px !important;
}

toolbarbutton#ublock0_raymondhill_net-BAP {
    top: 22px;
    position: fixed;
    margin-top: -22px !important;
    right: -2px  !important;
    padding-right: 5px  !important;
}

.toolbarbutton-badge {
    background-color: transparent !important;
    font-size: 10px  !important;
    font-weight: 500 !important;
    padding: 0 !important;
    color: #fff;
    box-shadow: unset !important;
    margin-right: 1px !important;
    margin-top: 2px !important;
}

.toolbarbutton-badge::after {
    position: fixed !important;
    right: 7px !important;
    font-size: 15px !important;
    color: #800000 !important;
    content: "â—" !important;
    z-index: -1 !important;
}

toolbaritem#ublock0_raymondhill_net-browser-action,
toolbaritem#_c2c003ee-bd69-42a2-b0e9-6f34222cb046_-browser-action {
    position: fixed !important;
}

/*tab discard*/
/*toolbarbutton#_c2c003ee-bd69-42a2-b0e9-6f34222cb046_-BAP {*/
/*    position: fixed;*/
/*    margin-top: -22px !important;*/
/*    right: 27px !important;*/
/*    top: 22px;*/
/*}*/

toolbarbutton#downloads-button {
    top: 22px;
    position: fixed;
    margin-top: -20px !important;
    right: 21px !important;
}


toolbar .toolbarbutton-1>.toolbarbutton-badge-stack {
    padding: 2px !important;
    border-radius: 2px !important;
}



.tabbrowser-tab[fadein] {
    max-width: 100vw !important
}

/*together with .urlbarView-row[label]::before unsets the firefx suggest label*/
.urlbarView-row[label] {
    margin-block-start: unset !important;
}



.tabbrowser-tab {
    padding: 0 !important;
}

.tab-background:is([selected], [multiselected]) {
    background: var(--active-tab-color) !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}


.tab-background {
    background: var(--inactive-tab-color) !important;
    border-radius: unset !important;
    border-bottom: 1px solid var(--border-color) !important;
    margin-block: unset !important;
}

.tab-background[selected="true"] {
    box-shadow: none !important;
}

.tab-content,
tab {
    max-height: 24px !important;
    min-height: 24px !important;
}

.tab-background:not([selected="true"])::after {
    content: '';
    border-right: 1px solid var(--tab-separator-color) !important;
    height: 14px !important;
    margin-bottom: 4px
}

tab[selected="true"]::before {
    content: '';
    outline: 1px solid var(--active-tab-color);
    height: 22px !important;
}


.tab-label {
    font-size: 12px;
    font-weight: 500 !important;
    color: var(--selected-fg-inactive);
}

.tabbrowser-tab[selected="true"] .tab-label {
    color: var(--selected-fg-active);
}

.tab-secondary-label {
  font-size: 9px !important;
  margin-top: -6px  !important;;
}




#urlbar-container {
    margin-right: auto !important;
    margin-left: auto !important;
}

@media only screen and (max-width: 800px) {
    #urlbar-container {
        max-width: 90% !important;
    }
}
@media only screen and (min-width: 800px) {
    #urlbar-container {
        max-width: 800px !important;
    }
}

#urlbar-input-container {
    height: 38px !important;
}


.urlbarView-row-inner {
    max-height: 20px !important;
}


.urlbarView-row:not([type="tip"], [type="dynamic"])>.urlbarView-row-inner>.urlbarView-no-wrap>.urlbarView-title[overflow],
.urlbarView-tags[overflow],
.urlbarView-url[overflow] {
    line-height: 1.2 !important;
}

.urlbarView {
    margin-inline: unset !important;
    width: 100% !important;
    border-inline: unset !important;

}


/*# separator between urlbar input and results*/
#urlbar[open]>.urlbarView>.urlbarView-body-outer>.urlbarView-body-inner {
    border-top-width: 0 !important;
    /* border-top: 0px solid var(--autocomplete-popup-separator-color);*/
}


/*needs to be aligned to navbar always, otherwise we can see the jump when we open it*/
#urlbar[breakout][breakout-extend] > #urlbar-background {animation-duration: 0s !important; }
#urlbar[breakout], #urlbar {top: 0 !important; }


#urlbar>#urlbar-background {
    border-width: 0 !important;
    border-radius: 0 0 4px 4px !important;
}

@media (prefers-color-scheme: dark) {
    #urlbar>#urlbar-background {
        clip-path: inset(0px -30px -30px -30px);
        box-shadow: 0 2px 18px rgba(0, 0, 0, 0.73) !important;
        background: #25292B !important;
    }
}

@media (prefers-color-scheme: light) {
    #urlbar>#urlbar-background {
        clip-path: inset(0px -30px -30px -30px);
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.33) !important;
    }
}

#urlbar-results {
    margin-bottom: 6px !important;
}

.urlbarView-results {
    padding-block: 0px !important;
}

.urlbarView-row-inner {
    border-radius: 0 !important;
    padding: 7px 14px !important;
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected]>.urlbarView-row-inner,
.urlbarView-row-inner[selected] {
    background-color: var(--selected-entry) !important;
}

.urlbarView-url>strong,
.urlbarView-title>strong {
    font-weight: unset !important;
}

@media (prefers-color-scheme: light) {

    .urlbarView-row:not([type="tip"], [type="dynamic"])[selected]>.urlbarView-row-inner,
    .urlbarView-row-inner[selected] {
        color: black !important;
    }
}



#navigator-toolbox {
    background: var(--inactive-tab-color)  !important;
    border-width: 0 !important;
}

#titlebar {
    box-shadow: inset 0px -1px var(--border-color) !important;
}

/*remember to set this key in about:config:*/
/*browser.display.background_color.dark*/
#browser vbox#appcontent tabbrowser,
#content,
#main-window,
#tabbrowser-tabpanels,
browser[type="content"]>html,
browser[type="content"],
browser[type="content"][primary="true"],
browser[type="content-primary"],
browser[type=content]>html,
tabbrowser#content {
    background: var(--avoid-white-flash) !important;
}


/*wip*/
.urlbarView-results[wrap]>.urlbarView-row>.urlbarView-row-inner>.urlbarView-no-wrap {
    max-width: unset !important;
}



/*@media screen and (min-height: 600px) {*/
.urlbarView-results[wrap]>.urlbarView-row>.urlbarView-row-inner>.urlbarView-no-wrap {
    max-width: unset !important;
    flex-basis: unset !important;
    padding-left: unset !important;
    margin-top: 0 !important;
}

/*}*/

.urlbarView-title-separator {
    display: block !important;
}


.urlbarView-results[wrap]>.urlbarView-row[has-url]>.urlbarView-row-inner>.urlbarView-url:-moz-locale-dir(ltr) {
    padding-left: unset !important;
    ;
}

.urlbarView-results[wrap]>.urlbarView-row[has-url]>.urlbarView-row-inner>.urlbarView-url,
.urlbarView-results[wrap]>.urlbarView-row[type="bestmatch"]>.urlbarView-row-inner>.urlbarView-row-body>.urlbarView-row-body-top>.urlbarView-url {
    margin-top: 0px !important;
}

hbox [anonid="findbar-textbox-wrapper"] {
    max-height: 21px;
    min-height: 21px;
    margin-top: 2px
}

/*.findbar-label*/
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.findbar-container .findbar-button {
    padding: 0px 6px !important;
}

.findbar-container {
    height: unset !important;
    /*margin-right: auto !important;*/
    margin-left: 10px !important;
    padding: 2px 0px 0px 0px !important;
    /*width: 300px !important;*/
}

.findbar-find-status {
    position: fixed;
    right: 0;
    margin-top: 2px !important;
    font-weight: 500 !important;
    z-index: -20;
}

findbar:not(:focus-within) .findbar-find-status {
    display: none !important;
}

.findbar-textbox[status="notfound"] {
    background-color: #9A5653 !important;
}


.findbar-textbox {
    width: 12em !important;
}

.findbar-textbox:not(:focus) {
    border-color: var(--border-color) !important;
}



findbar {
    -moz-transition-property: none !important;
    transition-property: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -moz-animation: none !important;
    animation: none !important;
}

findbar:not(:focus-within) {
    border-width: 0 !important;
    min-height: 0px !important;
    margin-bottom: 0px !important;
    max-height: 0px !important;
}

findbar {
    min-height: 30px !important;
    max-height: 30px !important;
    margin-bottom: -30px !important;
    padding-block: 0 !important;
    -moz-box-ordinal-group: 0;
    border: 0 !important;
    background: unset !important;
    background-image: linear-gradient(to top, var(--selected-bg-start), var(--selected-bg-end)) !important;
    border-bottom: 1px solid var(--border-color) !important;
    display: block;
    position: sticky;
    z-index: 666;
    width: 100%;
    box-shadow: 0 3px 10px -7px #00000080 !important;
}

.findbar-button {
    /*-moz-appearance: button !important;*/
    display: none !important;
}


/* Remove icons from the main context menu
i.e. hides ublock origin
*/
#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
    visibility: hidden;
}

#contentAreaContextMenu menugroup menuitem image,
#contentAreaContextMenu .menu-right image {
    visibility: visible;
}

menupopup>menuitem>label {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

#context-back,
#context-reload,
#context-forward,
#context-navigation,
#context-sep-navigation,
#context-savelinktopocket,
#context-stop,
#context-copy,
#context-sep-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sep-selectall,
#context-selectall,
#contentAreaContextMenu>menuseparator:nth-child(92),
#context-inspect-a11y,
.urlbarView-row[type="tip"],
#context-pocket {
    display: none !important;
}

#statuspanel-label {
    background-color: var(--active-tab-color) !important;
    border-color: var(--border-color) !important;
    font-weight: 500 !important;
}

/*** Sidebar Color / Font Size Formatting ***/
/* 14px black text */
.sidebar-placesTree treechildren::-moz-tree-cell-text {
    font-weight: 400 !important;
    font-size: 12.5px !important;
    /*color: #404040 !important;*/
}

treechildren:* {
    background-color: red !important;
}

.sidebar-placesTree treechildren::-moz-tree-row(selected) {
    border: 0px solid red !important;
    color: black;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text(selected) {
    color: black !important;
}

/* Pale blue background on hover or selected */
.sidebar-placesTree treechildren::-moz-tree-twisty(selected) {
    color: black !important;
}

.sidebar-placesTree treechildren::-moz-tree-row(hover),
.sidebar-placesTree treechildren::-moz-tree-row(selected) {
    background-color: var(--sidebar-hover) !important;
}

image.textbox-search-sign {
    display: none;
}

#sidebar-search-container {
    min-height: 34px !important;
    max-height: 34px !important;
    position: relative;
    padding: 6px 6px 0px 6px !important;
}

.sidebar-placesTreechildren::-moz-tree-image {
    list-style-image: none !important;
    margin-left: -20px !important;
}

.sidebar-placesTreechildren::-moz-tree-cell-text(container, queryFolder_menu________),
.sidebar-placesTreechildren::-moz-tree-cell-text(container, queryFolder_toolbar_____),
.sidebar-placesTreechildren::-moz-tree-cell-text(container, queryFolder_unfiled_____) {
    color: transparent !important;
    list-style-image: none !important;
}

treechildren::-moz-tree-twisty(container, queryFolder_toolbar_____) {
    color: transparent;
}

scrollbar {
    display: none !important;
}

hbox#sidebar-search-container {
    position: absolute !important;
    z-index: 10000 !important;
    background-color: var(--sidebar-color) !important;
}

vbox#sidebar-box {
    background-color: var(--sidebar-color) !important;
}

:root {
    --sidebar-hover-width: 7px;
    --sidebar-visible-width: 250px;
}

#sidebar-box:hover,
#sidebar-box:hover #sidebar {
    opacity: 1 !important;
}

/* #sidebar-splitter styles the divider between the sidebar and the rest of the browser. */
#sidebar-splitter {
    max-width: 1px !important;
    border-left: 1px solid #00ff0000 !important;
    border-right: 1px solid var(--sidebar-border-color) !important;
}
