@import url("chrome/constants.css");
@import url("chrome/navigator-toolbox.css");
@import url("chrome/ublock.css");
@import url("chrome/urlbarview.css");
@import url("chrome/findbar.css");
@import url("chrome/nav-bar.css");
@import url("chrome/urlbar.css");
@import url("chrome/tabs.css");
@import url("chrome/contextmenu.css");
@import url("chrome/sidebar.css");
@import url("chrome/notification.css");


@media screen and (min-width: 1400px) and (max-width: 1600px) {
    :root[inFullscreen] {
        width: 1560px !important;
        min-width: 1560px !important;
        max-width: 1560px !important;
        height: 1040px !important;
        min-height: 1040px !important;
        max-height: 1040px !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 1399px) {
    :root[inFullscreen] {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
        min-height: 100% !important;
        max-height: 100% !important;
    }
}

@media screen and (min-width: 1800px) and (max-width: 2000px) {
    :root[inFullscreen] {
        width: 1920px !important;
        min-width: 1920px !important;
        max-width: 1920px !important;
        height: 1080px !important;
        min-height: 1080px !important;
        max-height: 1080px !important;
    }
}



#toolbar-menubar,
.titlebar-buttonbox.titlebar-color,
#PanelUI-button,
#PanelUI-menu-button,
.titlebar-button.titlebar-close,
.titlebar-spacer,
#private-browsing-indicator-with-label,
#scrollbutton-up,
#scrollbutton-down {
    display: none !important;
}


/*remember to set this key in about:config:*/
/*browser.display.background_color.dark*/
#browser vbox#appcontent tabbrowser,
#content,
#main-window,
#tabbrowser-tabpanels,
browser[type="content"]>html,
browser[type="content"],
browser[type="content"][primary="true"],
browser[type="content-primary"],
browser[type=content]>html,
tabbrowser#content {
    background: var(--avoid-white-flash) !important;
}




#statuspanel-label {
    border-color: var(--lower-border) !important;
    font-weight: 500 !important;
}


/*login modal*/
:not(.content-prompt-dialog)>.dialogOverlay>.dialogBox:not(.spotlightBox) {
    margin-top: 0px !important;
}

.dialogBox:not(.spotlightBox) {
    border-radius: 0 0px 8px 8px !important;
}


.browser-toolbar:not(.titlebar-color) {
    background-color: transparent !important;
}
