@-moz-document regexp("^https://weekendavisen\\.dk"),
domain("www.weekendavisen.dk") {

    .article-share-item,
    .javascriptCacheBlock,
    .article-embedded-audio-control {
        display: none !important;
    }

    .article-top {
        font-weight: 300 !important;
    }

    .article-body .article-content>p:first-of-type::first-letter,
    .article-body .article-content>span:first-child>p:first-of-type::first-letter {
        font-family: serif !important;
        font-style: normal;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: -2px;
        float: left;
        padding-top: 5px !important;
        padding-right: 2px !important;
        margin-bottom: -10px !important;
        font-size: 72px !important;
    }

    .teaser-article-overview-deck-item-title {
        font-family: serif !important;
        font-size: 20px !important;
    }

    h1.article-title {
        font-family: serif !important;
    }



    .article-body .article-embed blockquote p {
        font-family: sans-serif !important;

    }

    .article-body p {
        font-family: serif !important;
        font-size: 1.1em !important;

    }

}
