@-moz-document regexp("^https://weekendavisen\\.dk.*"),
domain("www.weekendavisen.dk") {

    .javascriptCacheBlock,
    .article-embedded-audio-control
     {
        display: none !important;
    }


    .article-body .article-content > p:first-of-type::first-letter, .article-body .article-content > span:first-child > p:first-of-type::first-letter {
        font-family: WEA New Display,serif !important;
        font-style: normal;
        font-weight: 400;
        line-height: 110px;
        letter-spacing: -2px;
        float: left;
        padding-top: 5px !important;
        padding-right: 2px !important;
        margin-bottom: -10px !important;
        font-size: 65px !important;
    }

    .teaser-article-overview-deck-item-title {
        font-family: serif !important;
        font-size: 20px !important;
    }

    .article-title {
        font-size: 120px !important;
        font-family: serif !important;
    }



    .article-body .article-embed blockquote p {
        font-family: sans-serif !important;

    }

    .section-explorer-section-header__category-name,
    .header-section__section-title,
    .header-breadcrumb-name,
    .header-logo,
    .dre-item__alt-title--lg,
    .article-body p {
        font-family: serif !important;
        font-size: 1.1em !important;

    }

}
