@-moz-document url(about:home),
url(about:httpsonlyerror),
url(about:neterror),
url(about:downloads),
url(about:blank),
url(about:newtab),
url(about:privatebrowsing),
url(about:support),
url(about:preferences){

* {
    user-select: none !important;
}
}


@-moz-document url(about:firefoxview-next#history){
@media (prefers-color-scheme: dark) {

    :root {
        --newtab-background-color: var(--page-not-found-bg) !important;
        --newtab-background-color-secondary: #20272D !important;
    }
}

:root {
    --fxview-margin-top: 0px !important;
}

body {
    display: unset !important;
}

/*sidebar*/
fxview-category-navigation {
    display: none !important;
}

#pages {
    width: 100% !important;
}

.main-container {
    max-width: 1600px !important;
    margin: 0 auto !important;
}

.sticky-container {
    position: relative !important;
}

.page-header {
    display: none !important;
}

cards-container.import-history-banner,
view-recentbrowsing,
view-opentabs,
view-recentlyclosed,
view-syncedtabs,
.show-all-history-footer {
    display: none !important;
}

/*view-opentabsimport-history-banner*/
body #pages>.main-container>named-deck>view-history:first-child {
    display: none !important;
}
}
