:root {
    --urlbar-icon-padding: 5px !important;
    --identity-box-margin-inline: var(--urlbar-icon-padding) !important;

    --urlbar-max-width: 720px !important;
    --urlbar-minimum-padding: 2px !important;

    #urlbar {
        --urlbar-padding: var(--urlbar-minimum-padding) !important;
        --urlbar-open-max-width: calc(var(--urlbar-max-width) + 2 * var(--urlbar-padding));
    }
    #urlbar[breakout-extend="true"] {
        --urlbar-padding: 8px !important;
        --urlbar-open-max-width: calc(var(--urlbar-max-width) + 2 * var(--urlbar-padding) - 2 * var(--urlbar-minimum-padding));
    }
    --tab-height: 27px;
    --button-height: 27px;
    --nav-bar-padding: 6px;
    --bar-height: calc(var(--button-height) + 2 * var(--nav-bar-padding));
    --button-width: 38px;
    --autocomplete-popup-highlight-background: var(--accent);
    --autocomplete-popup-highlight-color: var(--accent);
    --toolbarbutton-hover-background: none !important;
    --toolbarbutton-active-background: none !important;
    --default-focusring-width: 0px !important;
    --tab-shadow-max-size: 0 !important;
    --tab-min-height: 27px !important;
    --inline-tab-padding: 5px;
    --tab-border-radius: 0px !important;
    --tab-block-margin: 0px;
    --tabpanel-background-color: #F9F9FB;
    --tab-attention-icon-color: var(--lwt-tab-attention-icon-color, rgb(42, 195, 162));
    --urlbar-icon-border-radius: 3px !important;



}


@media (prefers-color-scheme: dark) {
    ::selection {
        background: #3D6597;
    }

    :root {
        --debug: #00ff00 !important;
        --text-field: #000000;
        --accent: #3D6597;
        --avoid-white-flash: #1D2021;

        /* main*/
        --main-bar-top: #2B2C30;
        --main-bar-bottom: #202426;
        --toolbar-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.53);
        --urlbar-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.73) !important;


        /*tabs*/
        --active-tab: var(--main-bar-bottom);
        --inactive-tab: #18191B;


        --inactive-tab-fg: #938A82;
        --active-tab-fg: #EEEEEC;

        /*sidebar*/
        --sidebar-color: var(--active-tab);
        --sidebar-hover: #1C2025;

        /*borders*/
        --upper-border: #3A3B3E;
        --lower-border: #000000;
        --tab-separator: var(--upper-border);

        /*buttons*/
        --button-top-hover: #555658;
        --button-top: #505154;
        --button-bottom: #404247;

        --button-upper-border: #58595c;
        --button-lower-border: #3A3B3E;

        --findbar-not-found: #7A2000;

        /* urlbar*/
        --selected-url: #1D2021;
        --urlbar-border: #000000;
        --urlbar-bg: #25292B;
    }
}

@media (prefers-color-scheme: light) {
    ::selection {
        background: #0366D625;
    }

    :root {
        --debug: #00ff00 !important;
        --debugtwo: #ff0000 !important;
        --text-field: #ffffff;
        --accent: #327Cd1;
        --avoid-white-flash: #F8F8F8;

        /* main*/
        --main-bar-top: #f6f6f6;
        --main-bar-bottom: #dbdbdb;
        --toolbar-box-shadow: 0 2px 12px rgba(0, 255, 0, 0.9);
        --urlbar-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.43) !important;

        /*tabs*/
        --active-tab: var(--main-bar-bottom);
        --inactive-tab: #bababa;

        --inactive-tab-fg: #444648;
        --active-tab-fg: #2E3436;

        /*sidebar*/
        --sidebar-hover: #E8E9E9;
        --sidebar-color: var(--active-tab);

        /*borders*/
        --upper-border: #909090;
        --lower-border: #909090;
        --tab-separator: var(--lower-border);

        /*buttons*/
        --button-top-hover: #ffffff;
        --button-top: #ffffff;
        --button-bottom: #eaeaea;

        --button-upper-border: #d4d4d4;
        --button-lower-border: #b8b8b8;

        --findbar-not-found: #FF8888;

        /* urlbar*/
        --selected-url: #DBDBDC;
        --urlbar-border: #a8a8a8;
        --urlbar-bg: #FFFFFF;



    }
}
