#nav-bar-customization-target {
    padding: 6px 0px !important;
}

toolbarspring {
    flex: 1 !important;
    max-width: 100% !important;
}

#unified-extensions-button {
    z-index: -11;
    height: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    margin: 0px !important;
}


#nav-bar-customization-target>*:not(#urlbar-container, toolbarspring, #unified-extensions-button) {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

#nav-bar-customization-target>*:not(#urlbar-container, toolbarspring, #unified-extensions-button):last-child {
    margin-right: 6px !important;
}

#nav-bar-customization-target>*:not(#urlbar-container, toolbarspring, #unified-extensions-button):first-child {
    margin-left: 6px !important;
}

#nav-bar-customization-target>*:not(#urlbar-container, toolbarspring, #unified-extensions-button) {
    background: linear-gradient(to top, var(--button-bottom), var(--button-top)) padding-box,
        linear-gradient(to top, var(--button-lower-border), var(--button-upper-border)) border-box;
    border: var(--border-width) solid transparent !important;
    border-radius: var(--nav-bar-border-radius) !important;
    box-sizing: border-box !important;
    min-height: var(--button-height) !important;
    max-height: var(--button-height) !important;
    height: var(--button-height) !important;
    min-width: var(--button-width) !important;
    max-width: var(--button-width) !important;
    width: var(--button-width) !important;

    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

#nav-bar-customization-target>*:hover:not(#urlbar-container):not([disabled], :active, [checked]) {
    filter: brightness(1.05);
}

#nav-bar-customization-target>*:not(#urlbar-container):active,
#nav-bar-customization-target>*:not(#urlbar-container)[checked="true"] {
    filter: brightness(0.8);
}
