#personal-toolbar-empty,
#personal-bookmarks {
    display: none !important;
}

#navigator-toolbox {
    margin-top: -1px;
    border-bottom: var(--border-width) solid var(--lower-border) !important;
    background: var(--inactive-tab) !important;
    overflow: hidden;
}



#navigator-toolbox #PersonalToolbar,
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar {
    visibility: unset !important;
    order: -1 !important;
    display: flex !important;
    background-image: linear-gradient(to top, var(--main-bar-bottom), var(--main-bar-top)) !important;
}

/*can it be negative here*/
#nav-bar {
    margin-top: calc(-1 * var(--bar-height)) !important;
    display: flex !important;
    order: 0 !important;
}


#titlebar {
    display: flex !important;
    order: 1 !important;
}


#navigator-toolbox #PersonalToolbar[collapsed="true"],
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar[collapsed="true"] {
    height: 0 !important;
}

#navigator-toolbox #PersonalToolbar:not([collapsed="true"]) {
    height: var(--bar-height) !important;
}
