#tab-notification-deck {
    order: 4 !important;
    z-index: 10 !important;
    position: fixed !important;
    top: 0px;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
}

.notificationbox-stack {
    overflow: visible !important;
    background-color: transparent !important;
}


/*hide left color ribbon*/
div.container.infobar::before {
    display: none !important;
}

.container.infobar {
    background: var(--active-tab) !important;
    border-radius: 0 !important;
}


/*capture portal popup, among other things*/
:root[inFullscreen] .global-notificationbox {
    visibility: inherit !important;
}



.close.ghost-button.notification-close {
    appearance: button !important;
    margin: auto 5px !important;
}

notification-message {
    box-shadow: none !important;
    margin: 0 !important;
    /*    in fact border:;*/
    background: transparent !important;
}

button.notification-button.small-button {
    appearance: button !important;
}
