#tabs-newtab-button,
#new-tab-button {
    height: 0px !important;
    position: relative;
    display: inline-block !important;
    padding-left: 2px !important;
}

#tabs-newtab-button::after,
#new-tab-button::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--tab-height) !important;
}

/*otherwise makes it 0.5 pixels tall*/
#TabsToolbar .toolbarbutton-1 {
    margin: 0 !important;
}

tab:only-of-type,
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"],
.tab-close-button,
#alltabs-button {
    display: none;
}

tab:not([pinned]) {
    margin-left: 0px !important;
}

.tabbrowser-tab[fadein] {
    max-width: 100vw !important;
}

.tabbrowser-tab {
    padding: 0 !important;
}

.tab-background:is([selected], [multiselected]) {
    background: var(--active-tab) !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0px !important;
}


.tab-background {
    box-shadow: none !important;
    box-shadow: none !important;
    margin-block: unset !important;
}


/*border between tabs and personaltoolbar*/
#TabsToolbar-customization-target {
      box-shadow: var(--upper-border) 0px var(--border-width) 0px 0px inset;
}

/*shadow over inactive tabs*/
#TabsToolbar {
    background: var(--inactive-tab) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 8px 0px inset;
}


.tab-background[selected=""] {
    border-width: 0px !important;
}

.tab-content,
tab {
    max-height: var(--tab-height) !important;
    min-height: var(--tab-height) !important;
}

.tab-background::after {
    right: 0 !important;
    margin-right: calc(-1 * var(--border-width)) !important;
}

#tabbrowser-arrowscrollbox {
    margin-left: calc(-1 * var(--border-width)) !important;
}


#tabbrowser-arrowscrollbox-periphery::before,
.tab-background::before,
.tab-background::after {
    content: '';
    position: absolute !important;
    height: var(--tab-height) !important;
    background-color: var(--tab-separator);
    width: var(--border-width) !important;
}

.tab-background:is([selected], [multiselected])::before,
.tab-background:is([selected], [multiselected])::after {
    background-color: var(--upper-border) !important;
}


.tab-label {
    font-size: 13px;
    font-weight: 500 !important;
    color: var(--inactive-tab-fg);
}

.tabbrowser-tab[selected="true"] .tab-label {
    color: var(--active-tab-fg);
}

.tab-secondary-label {
    font-size: 9px !important;
    margin-top: -5px !important;
}
