#urlbar-input-container {
    padding: var(--urlbar-minimum-padding) var(--urlbar-padding) !important;
    border: 0px solid transparent !important;
    height: var(--button-height) !important;
}

.urlbarView {
    margin-inline: unset !important;
    width: unset !important;
    border-inline: unset !important;
}

.urlbarView-row {
    border-style: solid !important;
    border-color: transparent !important;
    border-top-width: 4px !important;
    border-bottom-width: 4px !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-radius: 0 !important;
    padding-inline: var(--urlbar-padding) !important;
}


/*see urlbar*/
.urlbarView-row-inner {
    border-radius: 0 !important;
    padding-inline: 0 !important;
}


.urlbarView-favicon {
    padding-inline: var(--urlbar-icon-padding) !important;
    margin-inline-start: 0 !important;
    margin-inline-end: var(--identity-box-margin-inline) !important;
}

